<!DOCTYPE html>
<html>
  <head>
    <title>Chow</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-chow">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0)">Chow</a>
        </div>
      </div>
    </nav>
    <% if notice %>
      <div class="container-fluid notifications alert-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p><%= notice %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="container-fluid notifications alert-danger">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p><%= alert %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container main">
      <%= yield %>
    </div>
  </body>
</html>
